    <script type="text/javascript">

        $(document).ready(function () {

            drawPointsChart('points-chart');
            drawDonutChart('donuts-chart');
            drawBarchart('bar-chart');
            drawBubbleChart('bubble-chart');
            setupLeftMenu();
			setSidebarHeight();
        });
    </script>
        <div class="grid_10">
        	<div class="box round first">
        		 <h2> Charts</h2>
                  <div id="bar-chart">
                    </div>
            </div>     
        </div>
        
        <div class="grid_10">
            <div class="box round">
                <h2> Charts</h2>
                <div class="block">
                    <div id="points-chart">
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="grid_5">
        	<div class="box round">
        		 <h2> Charts</h2>
                 <div id="donuts-chart">
                    </div>
            </div>     
        </div>
      
        
        <div class="grid_5">
        	<div class="box round">
        		 <h2> Charts</h2>
                  <div id="bubble-chart">
                    </div>
            </div>     
        </div>

