    <script type="text/javascript">

        $(document).ready(function () {
            setupPrettyPhoto();
            setupLeftMenu();
			setSidebarHeight();


        });
    </script>
        <div class="grid_10">
            <div class="box round first">
                    <h2>Gallery</h2>
                    <div class="block">
                    <ul class="prettygallery clearfix">
                        <li><a href="img/pretty-photo/fullscreen/item1-full.jpg" rel="prettyPhoto[gallery2]"
                            title="">
                            <img src="img/pretty-photo/thumbnails/item1.jpg" alt="This is a pretty long title" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item2-full.jpg" rel="prettyPhoto[gallery2]"
                            title="Description on a single line.">
                            <img src="img/pretty-photo/thumbnails/item2.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item3-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item3.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item4-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item4.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item5-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item5.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item6-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item6.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item7-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item7.jpg"  alt="" /></a></li>
                            
                            
                        <li><a href="img/pretty-photo/fullscreen/item8-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item8.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item9-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item9.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item10-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item10.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item11-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item11.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item12-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item12.jpg"  alt="" /></a></li>
                            
                        <li><a href="img/pretty-photo/fullscreen/item13-full.png" rel="prettyPhoto[gallery2]">
                            <img src="img/pretty-photo/thumbnails/item13.jpg"  alt="" /></a></li>
                            
                    </ul>
                </div>
            </div>
        </div>
      