  <script type="text/javascript">

        $(document).ready(function () {
            setupLeftMenu();

          			setSidebarHeight();


        });
    </script>
        <div class="grid_10">
            <div class="box round first">
                <h2>Notifications</h2>
                
                <div class="block">
            
                            <div class="message info">
                                <h5>Information</h5>
                                <p>
                                    This is an info message.
                                </p>
                            </div>
                            <div class="message success">
                                <h5>Success!</h5>
                                <p>
                                    This is a success message.
                                </p>
                            </div>
                            <div class="message warning">
                                <h5>Warning!</h5>
                                <p>
                                    This is a warning message.
                                </p>
                            </div>
                            <div class="message error">
                                <h5>Error!</h5>
                                <p>
                                    This is an error message.
                                </p>
                            </div>
                        </div>
                
            </div>
        </div>
       
       
